@import url('https://fonts.googleapis.com/css?family=Bungee|Share+Tech+Mono');

* {
  margin: 0;
  padding: 0;
  boxing-sizing: border-box;
}

body {
  background-color: #EDEEF0;
}

header {
  background: #333542;
  font-family: Bungee;
  text-align: center;
  color: #9ED4A2;
  height: 50px;
  padding-top: 10px;
}

.score-board {
  border: 3px solid black;
  margin: 20px auto;
  width: 200px;
  padding: 15px 20px;
  font-size: 30px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  font-family: 'Share Tech Mono', monospace;
}

.badge {
  background-color: #C35254;
  font-size: 18px;
  border-radius: 2px;
  padding: 2px 10px;
  text-transform: uppercase;
}

#user-label {
  position: absolute;
  top: 20px;
  left: -25px;
}

#comp-label {
  position: absolute;
  top: 20px;
  right: -30px;
}

.result {
  font-family: 'Share Tech Mono', monospace;
  text-align: center;
  text-transform: uppercase;
  font-size: 33px;
  padding-top: 20px;
  font-weight: bold;
}

.choices {
  text-align: center;
  padding-top: 20px;

}

.choice {
  display: inline-block;
  padding: 0px 22px;
}

.choice:hover {
  cursor: pointer;
}

#action-message {
  margin: auto;
  background: #333542;
  font-family: Bungee;
  text-align: center;
  font-size: 20px;
  padding-top: 15px;
  color: #9ED4A2;
  width: 300px;
  border-radius: 16px;
  height: 40px;
}
